{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<h2>Search Employees</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.query.label }} {{ form.query(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>

{% if employees %}
    <h3 class="mt-4">Results</h3>
    <ul class="list-group">
        {% for emp in employees %}
            <li class="list-group-item">
                <a href="{{ url_for('employee_detail', employee_id=emp.EmployeeID) }}">
                    {{ emp.FirstName }} {{ emp.LastName }} (ID: {{ emp.EmployeeID }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
