{% extends 'base.html' %}

{% block content %}
<h1 class="title has-text-link-dark">Employee Dashboard</h1>
<div class="field is-grouped is-grouped-multiline mb-5">
  <div class="control">
    <div class="select is-link is-rounded">
      <select>
        <option>Sort By</option>
        <option>Name</option>
        <option>Department</option>
        <option>Salary</option>
        <option>PTO Used</option>
        <option>Strikes</option>
        <option>Certifications</option>
      </select>
    </div>
  </div>
  <div class="control">
    <input class="input is-rounded is-link" type="text" placeholder="Search employees">
  </div>
  <div class="control">
    <button class="button is-link is-light is-rounded">Apply</button>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Shift</th>
          <th>Salary</th>
          <th>PTO Used</th>
          <th>Strikes</th>
          <th>Certifications</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in employees %}
        <tr>
          <td>{{ emp.name }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.shift }}</td>
          <td>{{ emp.salary }}</td>
          <td>{{ emp.pto_used }}</td>
          <td>{{ emp.strikes }}</td>
          <td>{{ emp.certifications }}</td>
          <td>{{ emp.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>
</div>
{% endblock %}
