{% extends 'base.html' %}
{% block content %}
<h1 class="title has-text-link-dark">Scheduling</h1>
<div class="box">
  <table class="table is-fullwidth is-hoverable is-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preferred Shift</th>
        <th>Days Scheduled</th>
        <th>Hours This Week</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael Lee</td>
        <td>Morning</td>
        <td>Mon, Wed, Fri</td>
        <td>24 hrs</td>
        <td><button class="button is-small is-info is-light">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}